* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 250px auto auto auto;
    grid-gap: 10px;
    background-color: aquamarine;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}


.header {
border-radius: 25px;
}

.Description {
    padding: 0;
}
.Description > h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-align: left;
    margin: auto;
}

.Description >h2 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-align: left;
    margin-left: 0px;
}


.Description > p {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-align: left;
    margin: 10px;
}

.Socials {


}

.Skills {
padding: 0;
}

.Skills > h1 {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.Skills > h2, h3, h4 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-align: left;
    margin: auto;
    padding: 5px;
}

.Skills > ul {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-align: left;
    margin: 10px;
}

.table {

}



.courses {

}

.Interests {

}

.education {

}